@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.stripes {
    display: flex;
    gap: 30px;
}

.stripe1 {
    width: 50px;
    color: #006FFF;
    border: 1px solid #006FFF;
}

.stripe2 {
    width: 300px;
    color: #006FFF;
    border: 1px solid #006eff83;
}

.orders {
    margin-top: 20px;
}

.card {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px #ccc;
}

.card-info {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.card-title {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.card-about {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.card-select {
    width: 20%;
    display: flex;
    justify-content: center;
}

.card-select select {
    padding: 5px 7px;
    width: 70%;
}